.disponibilidad{
  height: auto;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.disponibilidad-title{
  text-align: center;
}
.posiciones{
  overflow-y: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
}
.posicion-logo{
  width: 150px;
  align-self: center;
}
.posiciones h2{
  text-align: center;
  font-size: 2rem;
}
.posiciones p{
  text-align: center;
}
.busqueda-posicion{
  background-color: whitesmoke;
  padding: 20px;
}
.busqueda-posicion h2{
  text-align: center;
  font-size: 2rem;
}
.search-form{
  display: flex;
  flex-direction: row;
}
.search-form button{
  width: 30px;
  height: auto;
  display: flex;
  justify-content: center;
}
.busqueda-posicion p{
  text-align: center;
}
.search-icon{
  width: 20px;
}
.preguntas{
  background-color: #154344;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preguntas-contacto{
  background: whitesmoke ;
  padding: 10px;
  align-self: center;
}
.thanks-message{
  background: whitesmoke;
  align-self: center;
  display: none;
  padding: 20px;
}
.preguntas-input{
  margin-bottom: 10px;
  height: 25px;
}
.mensaje{
  height: 90px;
}
.boton-envio{
  background-color:#154433;
  color: white;
  width: 70px;
  height: 30px;

  border-radius: 15px;
  border: none;
}

@media (min-width:768px) {
  .disponibilidad{
    padding-left: 40px;
    padding-right: 40px;
  }
  .disponibilidad-title{
    font-size: 2.5rem;
  }
  .posicion-logo{
    width: 250px;
  }
}
@media (min-width:900px){
  .disponibilidad{
    padding-left: 80px;
    padding-right: 80px;
  }
}