
.alternate-section-top-banner{
  display: block;
  position: relative;
  margin-bottom: 270px;
}
.alternate-section-top-banner .topBannerCareers{
  position: absolute;
  z-index: 8;
  width: 100%;
}  
.alternate-section-top-banner .second-article-careers{
  background-color: rgba(67, 72, 77, 0.57);
  position: absolute;
  z-index: 9;
  width: 100%;
  display: inline;
  padding: 15px;
}
.careers-inactive-text{
  visibility:visible;
}

  @media (min-width: 880px){
    .alternate-section-top-banner{
      margin-bottom: 600px;
    }
    .alternate-section-top-banner .second-article-careers{
      padding: unset;
    }
    .video-background{
      background-size: cover !important;
    }

  }
  

  
