@use'_vars';

footer{
  background-color: whitesmoke;
  padding: 50px 20px;
}
.smallLogo{
  width: 300px;
  cursor: pointer;
}
.texto{
  font-size: 1.9rem;
  font-weight: 300;
  text-align: left;
}
.sub-menu{
  display: grid;
  grid-template-columns: 200px 200px;
  justify-content: center;
  align-items: center;
}
.ul-title{
  list-style: none;
  font-size: 2rem;
}
.ul-title > li{
  font-weight: 300;
  font-size: 1.7rem;
}

@media (min-width: 768px) {
  .sub-menu{
    display: flex;
  }
}
@media (min-width:1920px) {
  footer{padding: 50px 100px;}
}