@use'_vars';

footer{
  background-color: whitesmoke;
  padding: 50px 20px;
}
.smallLogo{
  width: 200px;
  cursor: pointer;
}
.texto{
  font-size: 1.5rem;
  font-weight: 300;
  text-align: left;
}
.sub-menu{
  display: grid;
  grid-template-columns: 200px 200px;
  justify-content: center;
}
.ul-title{
  list-style: none;
  font-size: 1.5rem;
}
.ul-title > li{
  font-weight: 300;
  font-size: 1.2rem;
}