.darken{
  width: 100%;
  height: calc(100%);
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.5);
}
.darken-inactive{
  display: none;
}
.closeBtn{
  right: 22px;
  top:2px;
  position: relative;
}
.gallery-section{
  display: grid;
  grid-template-columns: 40% 40%;
  grid-row-gap: 5%;
  justify-content: center;
  align-items: center;
  margin-bottom: 220px;
  padding-top: 150px;
}
.selected-image{
  padding-left: 25px;
  padding-right: 25px;
  background-color: grey;
  border: 1px black solid;
  border-radius: 5px;
  position: fixed;
  z-index: 12;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  zoom: 190%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}
.information-selected-image{
  align-self: center;
}
.picture{
  width: 150px;
  margin-bottom: -15px;
  align-self: center;
  cursor: pointer;
}
.big-picture{
  width: 150px;
  margin-bottom: -15px;
}
.big-picture-description{
  font-size: 1.8rem;
  text-align: center;
}
.carouselBtns{
  position: fixed;
  bottom: 19px;
}
.leftBtn{
  left: 3%;
}
.rightBtn{
  left: 83%;
}
@media (min-width:768px) {
.gallery-section{
  grid-template-columns: 35% 35%;
}
.big-picture{
  width: 250px;
}
.selected-image{
  max-width: 250px;
}
}

@media (min-width: 1920px){
  .gallery-section{
    grid-template-columns: 25% 25%;
  }

}