.darken{
  width: 100%;
  height: calc(100%);
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.darken-inactive{
  visibility: hidden;
}
.gallery-section{
  display: grid;
  grid-template-columns: 40% 40%;
  grid-row-gap: 5%;
  justify-content: center;
  margin-bottom: 90px;
  padding-top: 150px;
  position: relative;
}
.bigImage{
  position: fixed;
  display: none;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 180px;
  bottom: auto;
  width: 345px;
}
.selected-image{
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
  border: 1px black solid;
  border-radius: 5px;
  position: fixed;
  z-index: 10;
  bottom: 400px;
  left: 612.5px;
  margin: auto;
  margin-left: -200px;

}
@media (min-width:768px) {
  .gallery-section{
    margin-bottom: 150px;
  }
}