@use'_vars';
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  align-items: center;
  background-color: white;
  position: fixed;
  width: 100vw;
  z-index: 10;
  border-bottom: 1px solid black;
  min-width: 425px;
}
.logo{
  width: 170px;
  height: auto;
  cursor: pointer;
}
.touch-menu-btns{
  display: flex;
  justify-content: space-between;
  position: relative;
  right: 45px;
}
.menu-btn{
  width:20px;
  height: auto;
  cursor: pointer;
  position: relative;
  right: 15px;
}
.get-touch-btn{
  width: 120px;
  height: 30px;
  background-color: #154344;
  color: whitesmoke;
  border-radius: 20px;
  border:  none;
  position: relative;
  cursor: pointer;
}

nav{
  position: fixed;
  display: flex;
  justify-content: center;
  top: 115px;
  right: 1px;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 10;

  }
  .unordered-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    position: relative;
    bottom: 120px;
    align-self: center;
    padding-right: 30px;
  }
  .unordered-list > li{
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 2.3rem;
    cursor: pointer;
    text-align: center;

  }
  .inactive{
    display: none;
  }

@media (min-width:880px) {
  
  .logo{
    z-index: 10;
  }
  .get-touch-btn{

  z-index: 10;
  }
  .menu-btn{
    display: none;
  }
  nav{
    top: unset;
    min-width: 250px;
    max-width: 500px;
    height: unset;
    position: relative;
    right: 40px;
  }
  .unordered-list{
    flex-direction: row;
    bottom: unset;
    padding-right: unset;
    justify-content: space-between;
    position: relative;
  }
  .unordered-list > li{
    margin-bottom: unset;
    font-size: 1.6rem;
    margin-left: 15px;
  }
  .unordered-list > li:hover{
    color: blue;
  }

  /*
  nav{
    position: absolute;
    left: 210px;
    top: unset;
    right: unset;
    width: 500px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #154344;
  }
  .unordered-list{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    margin-top: unset;
  }
  .unordered-list > li{
    margin-bottom: unset;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10px;
    color: black;
    z-index: 12;
  }*/
  .inactive{
    display: block;
  }
}

@media (min-width:1180px) {
  nav{
    max-width:800px;
  }
}
