.profile-pic{
  padding: 50px;
}
.name{
  font-size: 2rem;
  text-align: left;
}
.role{
  font-size: 1.8rem;
  text-align: left;
  font-style: italic;
  font-weight: 300;
}
.description{
  font-size: 1.6rem;
  text-align: left;
}