.profile-pic{
  padding: 50px;
  padding-top: 150px;
}
.profile-pic > img{
  width:250px
}
.name{
  font-size: 2rem;
  text-align: left;
}
.role{
  font-size: 1.8rem;
  text-align: left;
  font-style: italic;
  font-weight: 300;
}
.description{
  font-size: 1.6rem;
  text-align: left;
}
@media (min-width:1920px) {
  .profile-pic{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .profile-pic > img{
    width: 450px;
    align-self: center;
  }
  .name{
    font-size: 3rem;
    text-align: center;
  }
  .role{
    font-size: 2.5rem;
    text-align: center;
  }
  .profile-pic > .description{
    font-size: 2.5rem;
    text-align: center;
    padding-left: 120px;
    padding-right: 120px;
  }
}