@use '_vars';

.Servicios{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    height: auto;
}
.Servicios > h1 {
  text-align: center;
  font-size: 2.1rem;
}
.vid-wrapper{
  overflow:hidden;
  align-self: center;
}
.video-servicios{
  position:relative;
  width: 400px;
  height: 290px;
}

@media(min-width:768px){
  .video-servicios{
    width: 760px;
    height: 510px;
  }
}

@media (min-width:1920px) {
  .Servicios > h1{
    font-size: 2.8rem;
  }
  .video-servicios{
    width: 1080px;
    height: 640px;
  }
}