@use '_vars';

.Servicios{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
}
.Servicios > h1 {
  text-align: center;
  font-size: 2.1rem;
}
.video{
  width: 80vw;
  height: auto;
  align-self: center;
}