@use '_vars';

.Servicios{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
}
.Servicios > h1 {
  text-align: center;
  font-size: 2.1rem;
}
.vid-warapper{
  position:relative;
  padding-bottom:56.25%; /* aspect ration for 16:9 */
  /*padding-top: 20px;*/ /* you can add padding-top if needed */
  height:0;
  overflow:hidden;
}
.video-servicios{
  position:relative;
  top:0;
  left:0;
  width:100%;
  height: 400px;
}

@media(min-width:768px){
  .video-servicios{
    
  }
}