.SignUp-form{
  padding: 25px;
  padding-top: 120px;
}
.inscripcion-title{
 font-size: 2.5rem;
}
.name-title{
  text-align: center;
  font: 1.9rem
;
}
.name-div{
  display: flex;
  justify-content: space-evenly;
}
.address{
  
}

