.SignUp-form-section{
  padding: 25px;
  padding-top: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.SignUp-form{
  align-self: center;
  max-width: 400px;
}
.inscripcion-title{
 font-size: 2.5rem;
 text-align: center;
}
.inscripcion-subtitle{
  text-align: center;
}
input{
  height: 30px;
  border: #dcdceb 2px solid;
  border-radius: 5px;
  margin-bottom: 20px;
}
.name-title{
  text-align: left;
  font: 1.9rem;
}
.name-div{
  display: flex;
  justify-content: space-between;
}
.address-section{
  text-align: left;
}
.address-input{
  width: 100%;
}
.city-state-div{
  display: flex;
  justify-content: space-between;
}
.zip-country-div{
  display: flex;
  justify-content: space-between;
}
.country-select{
  border: #dcdceb 2px solid;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
}
.email-input{
  width: 100%;
}
.telephone-div{
  width: 100%;
}
.sendBtn-SignUp{
  width: 80px;
  height: 40px;
  align-self: center;
  border: none;
  border-radius: 20px;
  background-color: #154433;
  color: whitesmoke;
  margin-top: 40px;
}
@media (min-width:768px) {
  .SignUp-form{

  }
}
@media (min-width:1920px) {
  .SignUp-form{

  }
}