@use '_vars';

.stat{
  padding: 20px;
  box-shadow: 0px 4px 23px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 4px 23px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 23px 0px rgba(0,0,0,0.75);
  border: none;
  width: 150px;
  height: auto;
  border-radius: 20px;
}
.stat > .stat-unorder-list{
  font-size: 1.6rem;
}
.cantidad{
  font-size: 2rem;
}
.contacto{
  font-size: 1.8rem;
  font-weight: 500;
}
.descripcion{
  font-size: 1.7rem;
  font-weight: 300;
}
.stat-img{
  width: 150px;
  height: auto;
}

@media(min-width:768px){
  .stat{
    width: 220px;
  }
  .cantidad{
    font-size: 2.2rem;
  }
  .contacto{
    font-size: 2rem;
  }
  .descripcion{
    font-size: 1.9rem;
  }
}

@media (min-width:1200px) {
  .cantidad{
    font-size: 2.6rem;
  }
  .contacto{
    font-size: 2.4rem;
  }
  .descripcion{
    font-size: 2.3rem;
  }
}