@use '_vars';
.section-top-banner{
  padding-top: 95px;
}
.topBanner{
  padding: 15px;
}
.banner-title{
  font-weight: 800;
  color: white;
  font-size: 1.9rem;
}
.banner-desc{
  color: white;
  font-weight: 500; 
  font-size: 1.6rem;
}
.button-contact{
  width: 180px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #EE7C32;
  color: white;
  margin-bottom: 25px;
  cursor: pointer;
}
.inactive{
  display: none;
}
@media (min-width: 880px) {
  .section-top-banner{
    display:flex;
    flex: 1 1 ;
  }
  .top-banner-no-btn{
    flex-direction: row-reverse;
  }
  .topBanner{
    width:50%;
  }
  .banner-desc--alt{
    display: none;
  }
  .topBanner-alt{
    height: 570px;
  }
  .second-article{
    width: 50%;
    height: 600px;
  }
  .second-article > .text-wrap{
    padding: 30px;
  }
  .banner-title--alt{
    display: none;
  }
  .banner-title--alt{
    display: none;
  }
  .wrap{
    width: 50%;
    height: auto;
    overflow: hidden;
  }
  .video-banner{
    height: 170%;
    width: 350%;
    position: relative;
    right: 450px;
    bottom:270px;
  }
  .inactive{
    display: block;
  }
}

@media (min-width: 1028px){
 .video-banner{
  height: 170%;
  width: 250%;
  position: relative;
  right: 450px;
  bottom:190px;
 } 
 .second-article > .text-wrap{
  padding: 60px;
}

}
@media (min-width:1920px) {
.section-top-banner{
  height: 800px;
}

.top-banner-no-btn{
  height: unset;
}
.text-wrap{
  padding: 100px;
}
.second-article > .text-wrap{
  padding: 100px;
}

}
