@use '_vars';

.topBanner{
  padding: 15px;
  padding-top: 95px;
}
.banner-title{
  font-weight: 800;
  color: white;
  font-size: 4rem;
}
.banner-desc{
  color: white;
  font-weight: 500;
  font-size: 1.7rem;
}
.button-contact{
  width: 180px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #EE7C32;
  color: white;
  margin-bottom: 25px;
  cursor: pointer;
}
.inactive{
  display: none;
}

@media (min-width: 880px) {
  .section-top-banner{
    display:flex;
    flex: 1 1 ;
  }
  .topBanner{
    width:50%;
  }
  .wrap{
    width: 50%;
    height: auto;
    overflow: hidden;
  }
  .video-banner{
    height: 170%;
    width: 350%;
    position: relative;
    right: 450px;
    bottom:270px;
  }
  .inactive{
    display: block;
  }
}

@media (min-width: 1028px){
 .video-banner{
  height: 170%;
  width: 250%;
  position: relative;
  right: 450px;
  bottom:190px;
 } 
}
@media (min-width:1920px) {
.section-top-banner{
  height: 800px;
}
.banner-title{
  margin-top: 200px;
}
}
