@use '_vars';

.Trust{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 30px;
}
.Trust > h1{
  text-align:  center;
}
.Trust > p{
  text-align: center;
}
.Trust > .title{
  font-size: 2.1rem;
}
.Trust > .text{
font-size: 1.7rem;
}

@media (min-width:768px) {
  .Trust{
    padding: 30px;
    height: auto;

  }
  .Trust > .title{
    font-size: 3rem;
  }
  .Trust > .text{
    font-size: 2.5rem;
    }
}
